<!DOCTYPE html>
<html lang="ja">

<head>
    <title>Shanari</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="theme-color" content="#f6ecc2"/>
    <link rel="manifest" href="/static/manifest.json">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
    <link type="image/png" sizes="180x180" rel="icon" href="/static/images/icon-180x180.png">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/mobile.css" media="screen and (max-width:480px)">
    <script>      
        if (navigator.serviceWorker) {
          navigator.serviceWorker.register ('/static/service-worker.js')
        }
    </script>
</head>

<body onload="initialize()">
    <form id="uploadForm" class="upload-form">
        <div class="parent">
            <div class="gridChk"> <!-- 送信先選択ボタン -->
                <label for="twitterCheck" class="chk_label">
                    <input type="checkbox" id="twitterCheck" name="twitterCheck" checked="">
                    <span class="checkmark">✔</span>
                    Twitter
                </label>
                <label for="misskeyCheck" class="chk_label">
                    <input type="checkbox" id="misskeyCheck" name="misskeyCheck" checked="">
                    <span class="checkmark">✔</span>
                    Misskey
                </label>
                <label for="blueskyCheck" class="chk_label">
                    <input type="checkbox" id="blueskyCheck" name="blueskyCheck" checked="">
                    <span class="checkmark">✔</span>
                    Bluesky
                </label>
            </div>
            <div class="gridTitle"> <!-- ソフトウェア名 -->
                Shanari
            </div>
            <div class="gridTextarea"> <!-- 投稿テキスト欄 -->
                <textarea id="postText" name="postText"></textarea>
            </div>
            <div class="gridBtn"> <!-- ボタン -->
                <button id="sendButton" type="button" class="buttonPost" onclick="postTweet()">POST</button>
                <button id="clearButton" type="reset" class="buttonClear" onclick="initialize()">CLEAR</button>
                <label for="files" class="buttonPic"></label>
                <input type="file" id="files" name="pics" multiple onChange="storePics(event)" style="display: none;"/>
                <label for="buttonMap" class="buttonMap"></label>
                <input type="button" id="buttonMap" style="display: none;"/>
            </div>
            <div class="gridLog"> <!-- ログメッセージ, 入力済文字数 -->
                <div class="resultText">
                    <p id="spinner" class="spinner"></p><p id="resultMsg"></p>
                </div>
            </div>
            <div class="gridImg"> <!-- 添付画像プレビュー欄 -->
                <div id="previewArea"></div>
            </div>
        </div>
    </form>

    <div class="bottom-sheet">
        <div class="sheet-overlay"></div>
        <div class="content">
            <div class="header">
                <div class="drag-icon"><span></span></div>
            </div>
            <div class="body" id="bottomSheetContent">
            </div>
        </div>
    </div>
  
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://hammerjs.github.io/dist/hammer.min.js"></script>
    <script src="/static/js/shanari.js"></script>
</body>

</html>