<!DOCTYPE html>
<html lang="ja">

<head>
    <title>Shanari</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="theme-color" content="#f6ecc2"/>
    <link rel="manifest" href="/static/manifest.json">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
    <link type="image/png" sizes="180x180" rel="icon" href="/static/images/icon-180x180.png">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/mobile.css" media="screen and (max-width:480px)">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script>      
        if (navigator.serviceWorker) {
          navigator.serviceWorker.register ('/static/service-worker.js')
        }
    </script>
</head>

<body onload="initialize()">
    <form id="uploadForm" class="upload-form">
        <div class="parent">
            <div class="gridChk"> <!-- 送信先選択ボタン -->
                <div class="twitterArea" id="makeImg">
                    <input type="checkbox" id="twitterCheck" name="twitterCheck" checked="">
                    <label for="twitterCheck"><span></span></label>
                </div>
                <div class="misskeyArea" id="makeImg">
                    <input type="checkbox" id="misskeyCheck" name="misskeyCheck" checked="">
                    <label for="misskeyCheck"><span></span></label>
                </div>
                <div class="blueskyArea" id="makeImg">
                    <input type="checkbox" id="blueskyCheck" name="blueskyCheck" checked="">
                    <label for="blueskyCheck"><span></span></label>
                </div>
            </div>
            <div class="gridTitle"> <!-- ソフトウェア名 -->
                Shanari
            </div>
            <div class="gridWordCt"> <!-- 入力済文字数 -->
                <p id="word-count">0 / 280</p>
            </div>
            <div class="gridTextarea"> <!-- 投稿テキスト欄 -->
                <textarea id="postText" name="postText"></textarea>
            </div>
            <div class="gridBtn"> <!-- POST, CLEARボタン / 結果テキスト -->
                <button id="sendButton" type="button" onclick="postTweet()">POST</button>
                <button id="clearButton" type="reset" onclick="initialize()">CLEAR</button>
            </div>
            <div class="gridImgBtn"> <!-- 4sq,画像添付ボタン -->
                <div class="button4sq"></div>
                <input type="file" id="files" name="pics" multiple onChange="storePics(event)" class="custom-file-upload">
                <label for="files"><span class="material-symbols-outlined bigsize">add_photo_alternate</span></label>
            </div>
            <div class="gridLog"> <!-- ログメッセージ -->
                <div class="resultText">
                    <p id="spinner" class="spinner"></p><p id="resultMsg"></p>
                </div>
            </div>
            <div class="gridImg"> <!-- 添付画像プレビュー欄 -->
                <div id="previewArea"></div>
            </div>
        </div>
    </form>

    <div class="bottom-sheet">
        <div class="sheet-overlay"></div>
        <div class="content">
            <div class="header">
                <div class="drag-icon"><span></span></div>
            </div>
            <div class="body" id="bottomSheetContent">
            </div>
        </div>
    </div>
  
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://hammerjs.github.io/dist/hammer.min.js"></script>
    <script src="/static/js/shanari.js"></script>
</body>

</html>