runtime: python39
env: standard
entrypoint: gunicorn -b :$PORT shanari.webapp:app

env_variables:
  FLASK_APP: 'shanari.webapp'

  #画像縮小をサーバ側で実行するか？(0:クライアントで縮小 1:サーバで縮小)
  FLASK_ENABLE_IMG_SERVER_COMPRESS: '1'

  #認証関連(いい感じに変更して使ってください)
  FLASK_SECRET_KEY: 'ac6a047dbdf39646'
  FLASK_LOGIN_ID: 'user'
  FLASK_LOGIN_PASSWORD: 'pass'

  #Twitter
  FLASK_TWITTER_BEARAR_TOKEN: ''
  FLASK_TWITTER_CONSUMER_KEY: ''
  FLASK_TWITTER_CONSUMER_SECRET: ''
  FLASK_TWITTER_ACCESS_TOKEN_KEY: ''
  FLASK_TWITTER_ACCESS_TOKEN_SECRET: ''

  #Misskey
  FLASK_MISSKEY_HOST: 'misskey.io'
  FLASK_MISSKEY_TOKEN: ''

  #Bluesky
  FLASK_BLUESKY_AGENT: 'https://bsky.social'
  FLASK_BLUESKY_ID: 'xxxxxx.bsky.social'
  FLASK_BLUESKY_PASS: ''
  FLASK_BLUESKY_MAX_FILE_SIZE: 1000000

  #Google Places API
  FLASK_GOOGLE_PLACES_API_KEY: ''

automatic_scaling:
  max_instances: 1
  max_idle_instances: 1
  min_instances: 0
  min_idle_instances: 0
  min_pending_latency: 3000ms
  max_pending_latency: automatic
