*{
    margin: 1px;
    padding: 0;
}
body{
    background-color: #fffbe9;
    font-family:sans-serif;
}
p{
    line-height: 1em;
}
.parent {
    display: grid;
    grid-template-columns: repeat(3, max-content) 1fr;
    grid-template-rows: max-content max-content max-content max-content max-content;
    grid-column-gap: 5px;
    grid-row-gap: 0px;
    grid-template-areas: 
    "gridChk      gridChk      gridChk      gridChk   "
    "gridTextarea gridTextarea gridTextarea gridTextarea"
    "gridBtn      gridBtn      gridBtn      gridBtn     "
    "gridLog      gridLog      gridLog      gridLog     "
    "gridImg      gridImg      gridImg      gridImg     ";
}
.gridChk      {grid-area: gridChk; display: flex; justify-content: flex-start; }
.gridTextarea {grid-area: gridTextarea;}
.gridBtn      {grid-area: gridBtn; vertical-align: top;}
.gridImg      {grid-area: gridImg;}
.gridLog      {grid-area: gridLog; margin: 0px 5px; font-size: small; color: #888;}

/*=spinner===============================================*/
.spinner {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 2px solid #3498db;
    animation: spin 1s linear infinite;
    display: none;
    margin-right: 5px;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*=Img===============================================*/
img {
    transform: translateY(-5px);
    box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    border: 3px solid white;
    margin: 5px;
    max-height: 80px;
}

/*=Textarea===============================================*/
textarea {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    color: #333;
    font-size: 16px;
    outline: none;
    width:98%;
    margin:5px 0;
    padding:1%;
    box-sizing: border-box;
    height: 120px;
}

/*=ResultText===============================================*/
.resultText {
    display: flex;
    margin: 10px 5px;
    font-size: small;
    color: #888;
}

/*=Button===============================================*/
.buttonPost {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    color: #555;
    font-size: 13px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.03);
}
.buttonPost:hover {
    background-color: #e5e5e5;
}
.buttonClear {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    color: #BBB;
    font-size: 13px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.03);
}
.buttonClear:hover {
    background-color: #e5e5e5;
}
.buttonPic {
    margin-left: 25px;
    width: 25px;
    height: 25px;
    padding: 5px;
    vertical-align: top;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-image: url('/static/images/picture.png');
    background-size: cover;
    background-color: #f5f5f5;
    background-size: 25px 25px;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.03);
}
.buttonPic:hover {
    background-color: #e5e5e5;
}
.buttonMap {
    width: 25px;
    height: 25px;
    padding: 5px;
    vertical-align: top;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-image: url('/static/images/pin.png');
    background-size: cover;
    background-color: #f5f5f5;
    background-size: 25px 25px;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.03);
}
.buttonMap:hover {
    background-color: #e5e5e5;
}

/*=Checkbox===============================================*/
.chk_label {
    display: inline-flex;
    align-items: center;
    padding: 0px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #ddd;
    color: #c18c19;
    cursor: pointer;
    margin: 3px;
    border-radius: 15px;
    font-size: 14px;
    transition: background-color 0.3s ease;
    position: relative;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.03);
}
.chk_label input[type="checkbox"] {
    display: none;
}
.chk_label:has(input[type="checkbox"]:checked) {
    background-color: #ffe8b7;
}
.checkmark {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: opacity 0.3s ease;
    opacity: 1;
}
.label-icon {
    height: 12px;
    width: auto;
    border: none;
    margin: 0px;
    margin-right: 5px;
    padding-top: 8px;
    box-shadow: none; 
}

/*=BottomSheet===============================================*/
.bottom-sheet {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    opacity: 0;
    pointer-events: none;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    transition: 0.1s linear;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.bottom-sheet.show {
    opacity: 1;
    pointer-events: auto;
}
.bottom-sheet .sheet-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background: #000;
}
.bottom-sheet .content {
    width: 100%;
    position: relative;
    background: #fff;
    max-height: 100vh;
    height: 50vh;
    max-width: 1150px;
    transform: translateY(100%);
    border-radius: 12px 12px 0 0;
    box-shadow: 0 10px 20px rgba(0,0,0,0.03);
    transition: 0.3s ease;
}
.bottom-sheet.show .content{
    transform: translateY(0%);
}
.bottom-sheet.dragging .content {
    transition: none;
}
.bottom-sheet.fullscreen .content {
    border-radius: 0;
    overflow-y: hidden;
}
.bottom-sheet .header {
    display: flex;
    justify-content: center;
}
.header .drag-icon {
    cursor: grab;
    user-select: none;
    margin-top: 10px;
}
.header .drag-icon span {
    height: 4px;
    width: 40px;
    display: block;
    background: #C7D0E1;
    border-radius: 50px;
}
.bottom-sheet .body {
    height: 100%;
    overflow-y: auto;
    padding: 5px 0 40px;
    scrollbar-width: none;
}
.bottom-sheet .body::-webkit-scrollbar {
    width: 0;
}
.bottom-sheet .body h2 {
    font-size: 1.8rem;
}
.bottom-sheet .body p {
    margin-top: 20px;
    font-size: 1.05rem;
}

/*=VenueList===============================================*/
.list-container {
    list-style: none;
    padding: 0;
    margin: 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}
.list-item {
    background-color: rgb(255 253 225);
    margin: 3px 0;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-out;
}
.list-item-name {
    font-size: 16px;
    font-weight: bold;
    color: #696969;
}
.list-item-distance {
    font-size: 12px;
    font-weight: bold;
    color: #aaaaaa;
}
.instructions {
    font-size: 16px;
    color: #696969;
    text-align: center;
    margin-bottom: -10px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
